h1 {
  margin: 10px;
}

ul {
  list-style-type: none;
}

button {
  margin: 10px;
}

.app {
  border: solid rebeccapurple 4px;
  margin: 10px;
 
}
.noteComponent {
  border: solid black 4px;
  margin: 10px;
  padding: 10px;
}

.noteList {
  border: solid red 4px;
  margin: 10px;
}

.notePageNav {
  border: solid royalblue 4px;
  margin: 10px;
  padding: 10px;
}

.paragraph {
  border: solid green 4px;
  margin: 10px;
  padding: 10px;
}

.noteListMain {
  border: solid magenta 4px;
  margin: 10px;
}